.chat-container{
    display: flex;
    flex-direction: row;
    max-width:300px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px 2px;
    background-color: #333333;
    font-size: 16px;
    height: 75px;
  }
  .chat-container:hover{
    background-color: #504c4c;
  }
  
  .chat-container:active{
    background-color: #a39d9d;
  }
  .avatar{
    border-radius: 100px;
    margin-left: 10px;
  }
  .avatar img{
    width: 50px;
    height: 50px;
   
    border-radius: 100px;
  }
  
  .content-chat{
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    position: relative;
  justify-content: space-around;
    align-items: center;
    padding: 0px 4px;
        
  }

  .content{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    margin-left: -25px;
  }
  
  .status,.status-red {
    width: 17px;
    height: 17px;
    background-color: #318A6A;
    /* position: absolute; */
    /* right: 7px; */
    /* top: 4px; */
    margin-right: 5px;
    border-radius: 100%;
  }
  
  .status-red{
    background-color: #8A3131;
  }
  .chat-list-container,.settings-container{
    background-color: #242424;
    padding: 5px 10px;
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  
  }
  
  .chat-list-container button{
    margin-bottom: 10px;
  }

  .chat-list-container{
   overflow-y: auto;
  }
  
  
  
  
  
  .alert-enter {
    position: absolute;
    height: 100vh;
    opacity: 0;
    transform: translateX(-200);
  }
  .alert-enter-active {
    opacity: 0;
    transform: translateX(0);
    transform: translateX(200);
    transition: opacity 300ms, transform 3000ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
  
  
  
  
  .row-content-chat{
    margin-left: -10px;
  }
  
   .search{
    margin-top: 10px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    margin-bottom: 10px;
    max-width: 100%;
    padding-bottom: 10px;
   }
   .search input{
    color: var(--font-color-1);
    background-color: var( --back-color-1);
    width: 333px;
    min-width: 5%;
    font-size: 28px;
    height: 40px;
    padding-left: 10px;
    min-height: 70px;
    box-shadow: 0px 4px 4px rgb(23, 23, 23);
    border-radius: 10px;

   }
   .search input::placeholder{
    font-weight: 600;
    font-size: 30px;
    text-align: center; 
    color: var( --font-color-1);
   }
  .container-chat,.container-chat-message{
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
  }
  .chat-list-container>p{
    color: var(--font-color-1);
  }
  .chat-list-container > .active-link{
    color: var(--font-color-1)
  }
  .chat-list-container > .pending-link{
    color: #a11059;
  }

  .chat-list-container > .active{
    background-color: var(--back-color-3);
    color: white;
  }

  .title-chat{
    font-size: 25px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }