.block-gif-search{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    align-items: center;
    padding: 7px;
    right: 0px;
    bottom: 80px;
}
.block-gif-search input{
    padding: 4px;
    height: 30px;
    margin-bottom: 5px;
}
.block-gif{
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
.block-gif-search::-webkit-scrollbar-track{
    width: 0px;
   }
.block-gif-search ::-webkit-scrollbar{
    width: 0px;
   }
.block-gif > img{
    width: 200px;
    padding: 2px;
    height: 100px;
}

::-webkit-scrollbar{
    width: 0px;
}

