::-webkit-scrollbar-track{
    width: 1px;
   }
   ::-webkit-scrollbar{
    width: 1px;
   }
  .message-container{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-color: var(--back-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 10;
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-image: url(/src/assets/Rectangle.png); */
  }

  .message-container::before {
    content: "";
    background-image: url('/src/assets/Rectangle.png');
    opacity: 0.2;
    background-size: cover; 
    position: absolute;
    z-index: -1;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
  }
  .message-container input{
  width: 70%;
  }
  
  .server-message-container{
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  .message-container-server-user{
    background-color: #101115;
    max-width: 20%;
    width: 200px;
  }
  .user-chat{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 2px; */
  }
  .user-chat p{
    margin-left: 10px;
  }
  .user-chat img{
    width: 30px;
    height: 30px;
  }
  .icon-call{
    background-image: url("/frontend\src\assets\Mask group.png");
  }
  .status-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    width: 80%;
    background-color:#333333;
    border-radius: 10px;
  }
  .icon-message{
    cursor: pointer;
  }
  .status-bar img{
    max-width: 60px;

  }
  .get-message-cantainer{
    overflow:auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 80%;
    flex-grow: 2;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .message-input-container img{
    max-width: 30px;
    max-height: 30px;
  }
  .file-input{
    max-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
  }
  
  .file-input img{
    width: 100px;
    height: 100px;
  }
  .message-input-container{
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    border: 1px solid pink;
  }
  .message-input-container button{
    margin-left: 10px;
  }
  .message-input-container>.react-emoji{
    max-width: 80%;
  }
  .message-input-container >.img-block >.btn-image{
    max-width: 50px;
    max-height: 50px;
  }
  
  .img-block,.btn-image{
    z-index: 100;
    position: relative;
  }
  .message-input-container > .inactive::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #38ff10;
    left: 20px;
    top: 20px;
    border-radius: 100px;
    z-index: 0px;
  }
  .message-input-container > .recording::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #38ff10;
    left: -10px;
    top: -10px;
    border-radius: 100px;
    z-index: 0px;
    animation-name: circle-large-small;
    animation-duration: 2s;
    opacity: 0.9;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
  }



  @keyframes circle-large-small {
    0%{
      opacity: 0.9;
      transform: scale(1);
    }
    50%{
      opacity: 0.3;
      transform: scale(1.2);
    }
    100%{
         opacity: 0.9;
        transform: scale(1);
    }
    
  }
  .btn-image{
    border-radius: 100px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #1059FF;
    padding: 10px;
  }
  .message{
    gap: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* padding:5px ; */
    align-self: flex-start;
    max-width: 400px;
    
    color: black;
    flex-wrap: wrap;
    position: relative;
    
  }
  .context-message{
    position: absolute;
    background-color: #38ff10;
    right: 0px;
  }
  .context-message img{
    width: 25px;
    border: 1px solid black;
  }
  .message:hover {
    background-color: #213547;
  }
  .chat-message, .chat-message-new{
    gap: 10px;
    border-radius: 5px;
    padding:5px ;
    max-width: 400px;
    min-width: 200px;
    border: 1px solid green;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    word-wrap: break-word;
    overflow-x:hidden;
  }
  .chat-message-new{
    flex-direction: column;
  }
  .chat-message >.row-con p , .row-con a{
    text-align: start;
    min-width: 70%;
    
  }
  .chat-message-new >.row>.row-con p , .row-con a{
    text-align: start;
    min-width: 100%;
    
  }
  .my-message > .chat-message-new{
    align-items: flex-end;
  }
  .my-message > .chat-message-new>.row> .row-con{
    padding-right: 10px;
  }
  .avatar-message{
    display: flex;
    flex-direction: row;
  }
  .date{
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    justify-content: flex-end;
    width: 100%;
  }
  .row{
    gap: 8px;
    display: flex;
  
    text-align: left; 
     flex-direction: row;
  }
  .my-message > .chat-message-new> .row{
    text-align: right;
  }
  .row a{
    cursor: pointer;
  }
  .row,.row-con{
    max-width: 80%;
    /* width: 100%; */
    background-color: red;
  }
  .row{
    border-radius: 10px;
  }
  .title{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    /* display: block; */
    border-bottom: 1px solid black;
  }
  .row-con{
    padding: 2px;
     border-radius: 10px;
    padding-left: 10px;
    max-width: 100%;
    background-color: #38ff10;
    gap: 2px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }

  .my-message{
    align-self: flex-end;
    align-items: flex-end;
  }
  .my-message >  .chat-message-new > .avatar-message{
    flex-direction: row-reverse;
  }
  /* .my-message>.chat-message,.my-message>.chat-message-new {
    flex-direction: row-reverse;
    align-items: flex-start;
  } */

  .false-status,.true-status{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: red;
  }
  .true-status{
    background-color: aqua;
  }
  .column{
    display: flex;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
  
  }

  

  .image-message{
    display: block;
    max-width: 100%;
   
  }
  
  .image-message img{
    max-width: 100%;
   
  }