.module{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.375);
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.module-block{
    background-color: rgba(64, 66, 65, 0.278);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    align-items: center;
    border-radius: 10px;
}


.icon-block-module{
    background-color: rgb(17, 18, 18);
    position: relative;
    width: 100px;
    height: 100px;
}

#modals{
    position: absolute;
}

.setting-image-avatar{
    border-radius: 100%;
    max-width: 600px;
}


.server-setting-avatar{
    width: 100px;
    border-radius: 100px;
}

.module-block>input{
    background-color: #585858;
    height: 40px;
    color: #D9D9D9;
   
}


.module-block>button{
    background-color: #333333;
    width: 100%;
    color: #D9D9D9;
    font-weight: 500;
    font-size: 22px;
}

.input-con{
    display: flex;
    gap: 10px;
}

