
  
  .block-server-chat,.block-server{
    color: white;
    width: 70px;
    height: 70px;
    min-width: 60px;
    min-height: 60px;
    background-color: #333333;
    border-radius: 100px;
  }


  .block-server{
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .block-server-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .block-server img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
  }
  .block-server:nth-child(1),.block-server:nth-child(2){
    box-shadow: 0px 4px 4px rgb(23, 23, 23);
  }
  .server-chat-block:hover{
    /* background-color: #404249; */
    
  }
  .server-chat-block{
    color: #949BA4
  }
  .addblockserver > img{
    margin: 10px 0px ;
    /* background-color:#333333 !important; */
  }

  .addblockserver:hover{
    padding-left: 13px;
    padding-right: 13px;
    background-color: #404249;
    border-radius: 100px;
  }
  .add-server-room{
    cursor: pointer;
    padding: 1px 4px;
    
  }
  .server-chat-block p{
    display: flex;
    flex-direction: row;
    padding: 8px;
    padding-left: 10px;
  }
  .container-server{
    outline: none;
  }
  .container-server >  .block-server-link:hover{
    outline: none;
    /* border-left: 2px solid gray; */
  }
  .block-server-link{
    position: relative;
    border-radius: 10px;
  }

  .container-server> .active > .block-server, .block-server-chat, .block-server img {
    border-radius: 10px;
    /* background-color: rgb(255, 21, 0); */
    transition-duration: 0.1s;
  }

  .container-server> .active > .block-server {
     background-color: #585858;
  }
  .container-server> .active{
    /* border-left: 1px solid gray; */
    padding-left: 5px;
  }
  .container-server>  .active-link > .block-server img{
    border-radius: 100px;
    transition-duration: 1s;
  }
  .container-server> .active::before{
    content: " ";
    position: absolute;
    width: 10px;
    height: 80%;
    background-color: var(--font-color-1);
    left: -16px;
    border-radius: 10px;
    top: 6px;
    animation-name: pre-width;
    animation-duration: 0.3s;
  }
  .container-server>  .active-link:hover::before{
    content: " ";
    position: absolute;
    width: 10px;
    height: 20%;
    border-radius: 100px;
    background-color:var( --font-color-1);
    left: -16px;
    top: 40%;
  
  }
 
  .set-Icon,.set-Icon-small{
    border-radius: 0px !important;
    max-width: 50px;
    max-height: 50px;
  }
  .set-Icon-small{
    max-width: 42px;
    max-height: 30px;
  }




  @keyframes pre-width {
   from{
    transform: translateY(-10px) scaleY(0);
    height: 10%;
   
   }

   to{
    height: 80%;
    transform: translateY(0px) scaleY(1);
   }
  }

  .chat-list-container > .active-link{
    color: #949BA4;
  }
  .chat-list-container > .pending-link{
    color: #a11059;
  }

  .chat-list-container > .active>.server-chat-block{
    background-color: #404249;
    color: white;
  }


  .setting-server{
    color: var(--font-color-1);
    background-color: var( --back-color-1);
    max-width: 100%;
    min-width: 5%;
    font-size: 28px;
    height: 40px;
    padding-left: 10px;
    min-height: 70px;
    box-shadow: 0px 4px 4px rgb(23, 23, 23);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .setting-server > img{
    cursor: pointer;
  }

  .block-chat-link{
   width: 100%;
   background-color: #292929;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  .block-chat-link> p{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #D9D9D9;
    margin-bottom: 5px;
  }

  .block-chat-link > a{
    width: 90%;
    border-radius: 10px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .block-chat-link > a:last-child{
    margin-bottom: 20px;
  }

  .server-chat-block{
    /* margin-left: -50px; */
    width: 70%;
  }

  .block-chat-link> .active{
    background-color: #585858;
  }

  .server-users{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--font-color-1);
    color: var(--font-color-1);
    gap: 15px;
    margin-bottom: 10px;
  }

  
  .server-users> img{
    margin-top: 10px;
    padding-bottom:  18px;
   
  }

  .message-container-server-user > .chat-container-server{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    color: var(--font-color-1);
    font-weight: 500;
    text-align: start;
  }
  .message-container-server-user > .chat-container-server:nth-child(1){
    /* margin-top: 10px; */
  }
  .message-container-server-user > .chat-container-server{
    background-color: none;
  }

  .role-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -200px;
    top: 20%;
    width: 200px;
    border: 1px solid #D9D9D9;
    border-top-left-radius:15px ;
    border-bottom-left-radius:15px ;
    overflow: hidden;
    background-color: #242424;
    z-index: 100;
    color: #D9D9D9;
  }

  .role-list>p{
    align-items: center;
    /* background-color: #171114; */
  }

  .tit3{
    display: flex;
    width: 100% !important;
    height: 50px;
    justify-content: center;
    border-bottom: 1px solid #D9D9D9; 
    font-size: 24px;
    font-weight: 500;
  }

  .role{
    margin-bottom: 12px;
    margin-top: 12px;
    width: 90%;
    display: flex;
   justify-content: flex-start;
    gap: 5px;
    padding: 2px;
  }

  .role-list > img{
    cursor: pointer;
    margin-bottom: 10px;
  }