.slider-container {
  --progress-bar-height: 7px;
}

.slider-container {
  position: relative;
  margin-top: -3px;
  width: 70%
}
.audio {
  position: relative;
  max-width: 100%;
   width: 350px;
  background-color: var(--back-color-2);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


.audio  img {
  height: 27px;
  width: 27px;
  margin-left: 16px;
  margin-right: 15px;
}

audio{
display: block;
}
.absolute >.true-status,.false-status{
  width: 14px;
  height: 14px;
  margin-left: 7px;
  margin-top: -2px;
}
.absolute{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var( --font-color-1);
  position: absolute;
  font-size: 12px;
  right: -25px;
  bottom: 3px;

}

/* Background */
.slider-container::before {
  content: '';
  background-color: var(--back-color-1);;
  width: 99%;
  height: calc(var(--progress-bar-height) - 1px);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Custom Progress Bar */
.progress-bar-cover {
  background-color: rgb(255, 255, 255);
  width: 0%;
  height: var(--progress-bar-height);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

/*  Hide Original */
.range {
  -webkit-appearance: none;
  background-color: rgba(240, 9, 9, 0.397);
  height: 10px;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  margin: 0 auto;
}

.slider-container {
  --thumb-width: 15px;
  --thumb-height: 15px;
}

.range::-webkit-slider-thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);

  background: #350f2d;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.753);
  z-index: 3;
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none; /* Remove pointer events on thumb so user can click on the actual thumb beaneath it!  */
  user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
}
